
.container {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    position: left;
}

.input {
    font-size: 15px;
    border: none;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    background-color: rgba(246, 16, 16, 0.5);
    position: relative;
    font-family: "Bubble";
    background-color: none;
    text-shadow: #f21de4 1px 0 10px;
}

.buttonS{
    font-size: 15px;
    border: none;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    background-color: rgba(246, 16, 16, 0.5);
    position: relative;
    font-family: "Bubble";
    background-color: none;
    text-shadow: #f21de4 1px 0 10px;
}
.buttonS:hover {
    text-shadow: #8d0909de 1px 0 10px; 
    background-color: rgba(246, 16, 227, 0.705);
    color: white;
    cursor: pointer;
}