@font-face {
  font-family: "Blox";
  src: url("../src/assets/Fonts/Blox2.ttf");
}

@font-face {
  font-family: "Bubble";
  src: url("..//src/assets/Fonts/bubble_pixel-7_dark.ttf");
}

.App {
  text-align: center;
}

.h1home {
  font-family: "Bubble";
  font-size: 40px;
  color: rgba(169, 236, 44, 0.5);
  text-shadow: #fa16c1 2px 0 20px;
  margin: 40px;
}
.h1landing {
  font-family: "Blox";
  font-size: 50px;
  color: rgba(236, 79, 44, 0.6);
  text-shadow: #49ea09 1px 0 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.containerLanding {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: initial;
  align-items: center;
  background-image: url("..//src/assets/Img/fondoInicio2.jpg");
  background-size: 100% 100%;
  min-height: 100vh;
}
.containerHome {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("..//src/assets/Img/fondoInicio.jpg");
  background-size: 100% 100%;
  min-height: 100vh;
  gap: 1rem;
}

.footer {
  bottom: 0;
  width: 100%;
}


.containerError {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("..//src/assets/Img/error.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  background-color: black;

}